.bgRed{
    border-radius: 10px;
    background-color: #f5f9f9;
    height: 95px;
    width: auto;
    box-shadow: 2px 2px 18px 2px lightgrey;
    margin: 23px;
    display:flex


}
.courseSize{
    display: flex;
}
.logoCurso{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/Svelte7exmJEg4_400x400.png)  ;
    border-radius: 10px 0px 0px 10px;
    width: 8%;
    height: inherit;
    background-color: #ff3c00;
    ;

}
.courseName{
    font-size: 20px;
    font-family: sans-serif;
    margin: 13px;
    height: 10px;
}
.courseDescription{
    height: 0px;
    align-self: center;
    margin-left: 14px;
    margin-top: 20px;
}
.btnEdit{
    background-image: url( '../img/edit-icon-png-3602.png' );
    margin-right: 90px;
    background-repeat: no-repeat;
    height: 20px;
    background-size: contain;
    width: 20px;
    border: none;
    cursor: pointer;


    
}
.btnDelete{
    cursor: pointer;

    background-image: url( '../img/trash-10-24.ico' );
  
    background-repeat: no-repeat;
    height: 20px;
    background-size: contain;
    width: 20px;
    border: none;

    
}
.rightBox{
    margin-top: 15px;

 display: flex;
 align-content: flex-end;
 justify-content: flex-end;
 display: flex;
    width: 100%;
    place-content: end;
}
.content{
    width: 90%;

}
.enableDisable{
    float: right;
    height: 21px;
    width: 132px;
    background-color: #ec3f5f;
    border-radius: 10px;
    margin-top: 10px;
    font-family: sans-serif;
    text-align: center;
    font-size: smaller;
    line-height: 20px;
    color: whitesmoke;
}
.form-container{
    height: 100%;
    width: 100%;
}
.modalName{
    padding-top: 0px;
    margin-top: 0px;
    font-family: system-ui;

}
.fecharModal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    width: 15px;
    cursor: pointer;

}
.ajudaModal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    cursor: pointer;

}
.topModal{
    padding-top: 0;
    display: flex;
    justify-content: space-between;
}
.inputLarge{
    margin-top: 5px;
    box-shadow: 0px 1px 6px 1px lightgrey;
    border: none;
    height: 30px;
    border-radius: 4px;
    width: 95%;
}
.flexRowCenter{
    text-align: center;

    display: flex;
    justify-content: center;
    align-content: center;
}
.lable{
    margin-left: 2.5%;
    font-family: system-ui;
    font-weight: 600;

}
.textArea{
    margin-top: 5px;
    height: 130px;
    box-shadow: 0px 1px 6px 1px lightgrey;
    border: none;
    border-radius: 4px;
    width: 95%;

}
.form-group{
    margin-top: 30px;

}
.modal-container{
    background-color: #f9f9f9
}
.createSaveBtn{
    background-color: #86c51f;
    border: none;
    border-radius: 3px;
    width: 150px;
    height: 25px;
    color: whitesmoke;
    margin-top: 5%;
    cursor: pointer;


}
.flexRowEnd{
    cursor: pointer;

    display: flex;
    justify-content: flex-end;
    align-content: flex-end;

}
.flexSpaceBetween{
    justify-content: space-between;
    width: -webkit-fill-available;
    align-content: space-between;
    width: -webkit-fill-available;
}

.updateBtn {
    cursor: pointer;

    background-color: #ec3f5f;
    border: none;
    border-radius: 3px;
    width: 150px;
    height: 25px;
    color: whitesmoke;
    margin-top: 5%;
    margin-right: 200px;

}